html{
	background-color: LemonChiffon;
	font-family: sans-serif;
	font-weight: bolder;
}

table{
	border-collapse: collapse;
	min-width: 300px;
}

table,td{
	border: 1px solid black;
}

.centered td{
	text-align: center;
}
#nilai-p{
	height: 20px;
}
